<app-header [title]="'Все'"
            (searchEmoji)="onSearchEmoji($event)">
</app-header>
<table class="emoji-table">
  <thead>
    <tr>
      <th class="emoji-table__name">Название</th>
      <th class="emoji-table__url">Ссылка</th>
      <th class="emoji-table__preview">Превью</th>
      <th class="emoji-table__actions" colspan="2">Действия</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="emojiList && emojiList.length > 0 ; else notData">
      <ng-container *ngFor="let emoji of emojiList | search:neededEmojiName ">
        <tr *ngIf="!emoji.isRemoved">
          <td>{{emoji?.name}}</td>
          <td class="emoji-table__url-item">{{emoji?.url}}</td>
          <td class="emoji-table__preview-item">
            <app-image-with-popover [emoji]="emoji">
            </app-image-with-popover>
          </td>
          <td class="emoji-table__actions-item">
            <fa-icon [icon]="faStar"
                     [ngClass]="{'star--clicked': emoji.isFavorite}"
                     class="clickable-element star"
                     (click)="onChangeFavoriteState(emoji)">
            </fa-icon>
          </td>
          <td class="emoji-table__actions-item">
            <fa-icon [icon]="faRemove"
                     class="clickable-element action-item"
                     (click)="onRemove(emoji)">
            </fa-icon>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<ng-template #notData>
  <tr>
    <td colspan="5">
      Нет данных
    </td>
  </tr>
</ng-template>
