.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F52B5;
  height: 100vh;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  margin: 5px 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
}

.sidebar__item:hover {
  color: #FFE196;
}

.sidebar__item--active {
  color: #FFC841 !important;
}
