.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F52B5;
  height: 100vh;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  margin: 5px 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;

  //background-color: #324191;
  padding: 20px;
  border-radius: 5px;
}

.sidebar__item:hover {
  color: #FFE196;
  background-color: #142476;
}

.sidebar__item--active {
  background-color: #324191;
  //color: #FFE196 !important;
}

