@import "../../../styles";

.star:hover {
  color: #FFE196;
}

.star--clicked {
 color: #FFC841 !important;
}

.action-item:hover {
  color: #8C98DA;
}

.emoji-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.emoji-table td,
.emoji-table th {
  border-bottom: 1px solid #8C98DA;
  padding: 10px;
}

.emoji-table__name {
  width: 20%;
}

.emoji-table__url {
  width: 60%;
}

.emoji-table__preview {
  width: 10%;
}

.emoji-table__actions {
  width: 10%;
}

.emoji-table__url-item {
  overflow-wrap: break-word;
  a:hover {
    font-weight: bold;
    color: #FFC841;
  }
}

.emoji-table__preview-item {
  text-align: center;
}

.emoji-table__actions-item {
  text-align: center;
}


.virtual-scroll {
  height: 80%;
  width: 100%;
  border: none
}

