@import "../../../styles";

.star:hover {
  color: #FFE196;
}

.star--clicked {
  color: #FFC841 !important;
}

.action-item:hover {
  color: #8C98DA;
}

.emoji-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.emoji-table td,
.emoji-table th {
  border-bottom: 1px solid #8C98DA;
  padding: 10px;
  font-size: 14px;
}

.emoji-table__name {
  width: 20%;
}

.emoji-table__url {
  width: 55%;
}

.emoji-table__preview {
  width: 10%;
}

.emoji-table__actions {
  width: 15%;
}

.emoji-table__name-item {
  overflow-wrap: break-word;
}

.emoji-table__url-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  a:hover {
    font-weight: bold;
    //color: #FFC841;
    color: #8C98DA;
  }
}

.emoji-table__preview-item {
  text-align: center;
}

.emoji-table__actions-item {
  text-align: center;

  .star {
    padding-right: 15px;
  }
}

.virtual-scroll {
  position: fixed;
  height: calc(100% - 105px);
  width: calc(100% - 150px);
  border: none
}

@media (min-width: 576px) {
  .virtual-scroll {
    width: calc(100% - 210px);
  }
}

@media (min-width: 768px) {
  .virtual-scroll {
    width: calc(100% - 245px);
  }
}

@media (min-width: 992px) {

  .emoji-table td,
  .emoji-table th {
    font-size: 16px;
  }

  .virtual-scroll {
    width: calc(100% - 295px);
  }

  .emoji-table__url-item {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .emoji-table__url {
    width: 57%;
  }

  .emoji-table__actions {
    width: 13%;
  }
}

@media (min-width: 1200px) {
  .virtual-scroll {
    width: calc(100% - 315px);
  }

  .emoji-table__url {
    width: 60%;
  }

  .emoji-table__actions {
    width: 10%;
  }
}
