.search-bar {
  height: 26px;
  padding-left: 15px;
  font-size: 18px;
  border: 3px solid #8c98Da;
  border-radius: 10px;
}

.search-bar:focus {
  outline: none;
  border-color: #3F52B5;
}

@media (min-width: 768px) {
  .search-bar {
    height: 30px;
  }
}

@media (min-width: 992px) {
  .search-bar {
    height: 36px;
  }
}
