<app-header [title]="'Удаленные'"
            (searchEmoji)="onSearchEmoji($event)">
</app-header>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Ссылка</th>
      <th>Превью</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="emojiList && emojiList.length > 0 ; else notData">
      <ng-container *ngFor="let emoji of emojiList | search:neededEmojiName ">
        <tr *ngIf="emoji.isRemoved">
          <td>{{emoji?.name}}</td>
          <td>{{emoji?.url}}</td>
          <td>
            <img [src]="emoji?.url" [alt]="emoji?.name"
                 class="emoji-preview">
          </td>
          <td>
            <fa-icon [icon]="faReply"
                     class="clicked-element"
                     (click)="onRecoverEmoji(emoji)"></fa-icon>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<ng-template #notData>
  <tr>
    <td colspan="4">
      Нет данных
    </td>
  </tr>
</ng-template>
